@model IList<Document>

@{
    ViewBag.Title = "Liste de Documents";
    int count = Model.Count();
}


@if (count == 0)
{
    <div class="alert alert-dark d-flex justify-content-between">
        <strong>Vous n'avez aucun Document dans votre base de donnee!</strong>
       @* <a asp-controller="Candidat" asp-action="Create" class="btn-sm btn-dark"><i class="icofont icofont-user-alt-3"></i>Nouveau candidat</a>*@
    </div>
}
else
{
    <!-- Basic table card start -->
    <div class="card">
        <div class="card-header">
            @*<h5>Basic Table</h5>
                <span>use class <code>table</code> inside table element</span>*@
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fichier</th>
                            <th>Type</th>
                            <th>Candidat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@item.fichier</th>
                            <td><label class="label label-primary">@item.type</label></td>
                            <td>@item.candidatLink.Nom <strong>@item.candidatLink.Prenom</strong></td>
                            <td>
                                <div class="btn-group " role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title="Actions">
                                    <a asp-controller="Document" asp-route-id="@item.DocumentId" asp-action="Delete" class="btn btn-danger btn-sm waves-effect waves-light"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Basic table card end -->
}
